<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Makerbnb</title>
</head>
<body>
    <header>
      <nav>
        <div>
          <% if session[:user_id].nil? %>
            <a href="/sessions/new">Login</a>
          <% else %>
            <a href="/spaces">Spaces</a> | <a href="/requests">Requests</a> |
            <a href="/sessions/logout">Logout</a>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</body>
</html>