<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makersbnb - Spaces</title>
 </head>
<body>
    <h1>Book a Space</h1>
    <a href="/spaces/new">
    <input type="submit" value="List a Space">
    </a>

    <% @spaces.each do |space| %>

    <div>
	<h3> <%= space.id %>. <%= space.name %> </h3>
	<p> <%= space.description %> </p>
	</div>
				
    <% end %>
</body>
</html>